body{
    font-family: 'Times New Roman', Times, serif
}

h1, h2{
    text-align: center;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 2rem;
    margin-top: 40px;
}

main{
    width: 80%;
    margin: auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    border: 2px solid black;
    text-align: center;
    width: 120px;
    margin: 10px;
}

#emoji p{
    font-size: 4rem;
    margin: 0%;
}

#hex{
    background-color: rgb(173, 222, 223);
    width: 70%;
    margin: auto;
    font-weight: bold;
}